body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  background-color: #060606;
  color: white;
}

h1,
h2 {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
}

button {
  margin: 10px;
  padding: 5px 10px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}
.implementacion {
  text-decoration: none;
  font-size: 30px;
  color: red;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.bx {
  color: red;
  font-size: 50px;
}
