* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Lobster", cursive;
}
body {
  background-color: black;
  display: flex;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.despedida {
  display: flex;
  align-items: center;
  /* width: 100vw;
    height: 100vh; */
  position: relative;
  animation: infinite;
  animation-name: movida;
  animation-duration: 4s;
  padding: 0 20px;
  padding: 30px;
}
.palabras {
  width: 8rem;
  height: 8rem;
  background-color: rgb(214, 88, 88);
  font-size: 5rem;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  box-shadow: 0 0 20px 10px white;
}
.personaje {
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen {
  transform: scale(0);

  animation: infinite;
  animation-name: imagenmovida;
  animation-duration: 4s;
}
@keyframes movida {
  0% {
    left: 0%;
  }
  2% {
    left: 7%;
  }
  10% {
    left: 30%;
  }
  20% {
    left: 40%;
  }

  25% {
    left: 50%;
  }
  30% {
    left: 60%;
  }
  50% {
    left: 100%;
    /* justify-content: center; */
  }
  75% {
    display: none;
  }
  100% {
    display: none; /* justify-content: end; */
  }
}
@keyframes imagenmovida {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 0;
    transform: scale(0);
  }
  30% {
    opacity: 0;
    transform: scale(0);
  }
  35% {
    opacity: 0;

    transform: scale(0);
  }
  36% {
    opacity: 1;
    transform: scale(1.5);
  }
  /* 80% {
    opacity: 1;
    transform: scale(1);
  } */
  90% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
